#moringa-pathways-section {
    padding: 24px 0;
}

#moringa-pathways-section h3 {
    margin: auto;
    text-align: center;
}

.moringa-pathways {
    text-align: center;
}

.moringa-pathways li {
    display: inline;
    padding: 0 0.5%;
}

.moringa-pathways img {
    height: 10%;
    width: 15%;
}

/* upcoming events on home page */
.moringa-events-pane-left h1 {
    font-size: 40px;
    font-weight: 500;
}

.moringa-events-pane-left h2 {
    font-size: 32px;
    margin-top: 38px;
    width: 75%;
}

.moringa-events-pane-left h3 {
    font-size: 29px;
    margin-top: 30px;
}

.moringa-events-pane-left a {
    font-size: 25px;
    margin-top: 30px;
    color: #0f74a8;
}

.moringa-events-pane-right img {
    width: 100%;
}

.content {
    margin: 15px 0;
    position: relative;
    width: 100%;
    flex: 0 0 auto;
    display: inline-block;
    padding: 0;
}

.content-image,
.about-image {
    width: 100%;
    z-index: 1;
}

.content-details {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    cursor: pointer;
    transition: all 1.5s ease 0s;
    -webkit-transition: all 1.5s ease 0s;
    color: #637C33;
    text-align: center;
}

.content-details .play a i {
    opacity: 0.7;
    position: absolute;
    top: 30%;
    right: 50%;
    width: 40px;
    color: #637C33;
    font-size: 100px;
    z-index: 1030;
    transition: all 1.5s ease 0s;
    -webkit-transition: all 1.5s ease 0s;
    cursor: pointer;
}

.content-detail:hover {
    opacity: 0.9;
    transition: all 1s ease 0s;
    -webkit-transition: all 1s ease 0s;
    background-color: #000000;
}

.modal-content {
    width: 594px;
}

#iframeYoutube {
    width: 563px;
    height: 315px;
}

.modal-head {
    justify-content: flex-end;
    margin: 1px 4px;
    display: flex;
}

.news.card {
    width: 23rem;
    cursor: pointer;
    height: 20rem;
    margin: 50px 0;
}

.news .card-body {
    height: 302px;
    background-color: #FFFFFF;
    align-content: center;
}

.news .card-body .card-img {
    width: 75px;
    margin: 33px 0 0 40px;
}

.news .card-body .card-text {
    margin: 20px 27px 13px 20px;
    height: 105px;
    color: #041333;
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    position: absolute;
    bottom: 56px;
}

.news .card-body .btn-xl a {
    text-decoration: none;
    color: #00a8e6;
    position: absolute;
    bottom: 2rem;
    font-size: 1rem;
}

.news-row {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.news {
    flex: 0 0 auto;
    display: inline-block;
    width: 20rem;
    border: 1px solid #eeeeee;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.news:hover {
    -webkit-transform: scale(1.1, 1);
    transform: scale(1.1, 1);
}

.event img {
    width: 100%;
}

.event-details {
    color: #000;
    margin: 1em;
}

.event-details:hover {
    color: #637C33;
}

.event-title {
    font-size: 1.2rem;
}

.event-date {
    font-size: 0.9rem;
}

.responsive .card-body {
    height: 600px;
}

.responsive .card-title {
    font-size: 1.3rem;
}

.event.card {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.16);
    width: auto;
}

.event.card:hover {
    box-shadow: 0 9px 3px 0 rgba(0, 0, 0, 0.2), 0 14px 29px 0 rgba(0, 0, 0, 0.14), 0 20px 25px 0 rgba(0, 0, 0, 0.12);
}

.card-columns .card {
    width: 28rem;
}