<!DOCTYPE html>
<html lang="en">
<head>
    <title>
         Software Development Prep Full-Time Course 
    </title>
    

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="description" content="">
<meta name="author" content="moringa school">

<title>Software Development Prep Full-Time Course - Moringa School</title>
<link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon/favicon-16x16.png">
<link rel="manifest" href="/static/img/favicon/site.webmanifest">
<link rel="mask-icon" href="/static/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#00a300">
<meta name="theme-color" content="#ffffff">

<link rel="prerender stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="prefetch stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.5/slick.min.css">

<link href="/static/fontawesome-free/all.min.css" rel="stylesheet">
<link href="/static/font-awesome/font-awesome.min.css" rel="stylesheet">
<link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/static/css/main.css" rel="prefetch stylesheet">
<link href="/static/css/home.css" rel="prefetch stylesheet">
<link href="/static/css/slider.css" rel="stylesheet">


<link href="/static/css/post_view.css" rel="stylesheet">
<link href="/static/css/course.css" rel="prefetch stylesheet">
<link href="/static/css/media_queries.css" rel="stylesheet">
<link href="/static/cookielaw/css/cookielaw.css" rel="stylesheet"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">





<!-- Global site tag (gtag.js) - Google Analytics -->
<script async defer src="https://www.googletagmanager.com/gtag/js?id=UA-125823348-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-125823348-1');
</script>
<!-- Google Tag Manager -->
<script>
    (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-KM4VGT8');
</script>
<!-- End Google Tag Manager -->


<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KM4VGT8" height="0" width="0"
            style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->

<script type="text/javascript"> //<![CDATA[ 
    var tlJsHost = ((window.location.protocol == "https:") ? "https://secure.trust-provider.com/" : "http://www.trustlogo.com/");
    document.write(unescape("%3Cscript src='" + tlJsHost + "trustlogo/javascript/trustlogo.js' type='text/javascript'%3E%3C/script%3E"));
    //]]>
</script>
     {% load bootstrap4 %}

</head>

<body>



    <header id="banner_image">
        <!-- Navigation -->
        

<nav class="navbar fixed-top navbar-expand-lg navbar-inverse navbar-fixed-top" id="navbar">
    <div class="container-fluid mynav">
        <a class="navbar-brand" href="/">
            <img id="logo" src="/static/img/main-logo.png" alt="">
        </a>
        <button class="navbar-toggler navbar-dark navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav nav navbar-left">
                

    
        <li class="dropdown"><a href="#" class="" data-toggle="dropdown">Programs <i class="fa fa-chevron-down"></i></a>
            <ul class="dropdown-menu" id="dropdown">
                <li><a href="/programs/">Programs</a></li>
                
                    
                        <li><a href="/programs/data-science-course/">Data Science</a></li>
                    
                        <li><a href="/programs/software-development/">Software Development Prep</a></li>
                    
                
            </ul>
        </li>
    

    

    

    

    


            </ul>
            <ul class="navbar-nav nav navbar-right ml-auto">
                
<div class="dropdown">
    
        <!-- no child pages  -->
        
    
        <!-- no child pages  -->
        
            <li><a href="/learning-model/">Learning Model</a></li>
        
    
        <!-- no child pages  -->
        
            <li><a href="/about-us/">About Us</a></li>
        
    
        <!-- no child pages  -->
        
            <li><a href="/outcomes/">Outcomes</a></li>
        
    
        <!-- no child pages  -->
        
            <li><a href="/events/">Events</a></li>
        
    
    <li><a href="/corporate-training">Corporate Training</a></li>
    <!-- <li><a href="https://nairobitechweek.com">NTW</a></li> -->
    <li><a href=/careers>Careers</a></li>

</div>

            </ul>
        </div>
    </div>
</nav>

        <div class="container-fluid">
            <div class="row">
                <p class="img-shadow"></p>
                <div class="col-md-12">
                    <h1 class="banner_title">Software Development Prep Full-Time Course</h1>
                    <p class="banner_line"></p>
                    
                </div>
            </div>
        </div>
    </header>
   <div class="container-fluid">
    <form method="post" novalidate>
        {% csrf_token %}
        {%bootstrap_form form%}
        <button type="submit" class="btn btn-success" style="background-color:#637C33">Submit</button>
      </form>
   </div>



<div id="social-community" class="text-center">
    <div class="footer-container">
        <div class="row">
            <div class="col-md-3">
                <span class="img-one"><img src="/static/img/footer/django.jpg" alt=""></span>
                <span class="img-two"><img src="/static/img/footer/python.jpg" alt=""></span>
                <span class="img-three"><img src="/static/img/footer/flask.jpg" alt=""></span>
                <span class="img-four"><img src="/static/img/footer/angular.svg" alt=""></span>
            </div>
            <div class="col-md-6 col-sm-12">
                <h1 class="heading">Join the Community!</h1>
                <p class="paragraph">We are dedicated to providing good coding practices and
                    <br>
                    we would like you to be part of the community</p>
                <div class="enroll-button text-center">
                    <a href="/programs/">
                        <button class="btn btn-xl bg-green">Enroll Now!</button>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <span class="img-one"><img src="/static/img/footer/java.jpg" alt=""></span>
                <span class="img-two"><img src="/static/img/footer/spark.svg" alt=""></span>
                <span class="img-three"><img src="/static/img/footer/android.jpg" alt=""></span>
                <span class="img-four"><img src="/static/img/footer/javascript.jpg" alt=""></span>
            </div>
        </div>
    </div>
</div>
<section id="footer-social" class=" bg-green">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <p><a href="https://www.facebook.com/moringaschool/" target="_blank"><i class="fa fa-facebook-square"></i>Find us on
                    Facebook</a></p>
            </div>
            <div class="col-md-3 col-sm-12">
                <p><a href="https://www.youtube.com/channel/UCnkYPrm1GvxDzGlT0S2zn4w/videos" target="_blank"><i
                        class="fa fa-youtube-square"></i>Watch us on YouTube</a></p>
            </div>
            <div class="col-md-3 col-sm-12">
                <p><a href="https://www.linkedin.com/company/moringa-school" target="_blank"><i class="fa fa-linkedin-square"></i>Engage
                    with us on LinkedIn</a></p>
            </div>
            <div class="col-md-3 col-sm-12">
                <p><a href="https://twitter.com/moringaschool" target="_blank"><i class="fa fa-twitter-square"></i>Follow us on Twitter</a>
                </p>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="container-fluid">
        
<div class="footer_nav">
    <div class="row">
        <div class="col-md-3">
            <p><a href="tel:+254711581484"><b>General Enquiries:</b> +254 711 581 484</a></p>
            <p><a href="https://wa.me/254712293878"><b>WhatsApp Enquiries:</b> <i class="fab fa-whatsapp"></i> +254 711 581 484</a></p>
            <p><b>Email:</b> contact@moringaschool.com</p>
            <p><b>Admissions Enquiries:</b> +254 712 293 878</p>
            <p><b>Data Science Enquiries:</b> +254 741 493 565</p>
            <p><b>Address:</b> P.O.Box 28860-00100</p>
            <p><b>Location:</b> Ngong Lane Plaza, Ngong Lane. Nairobi</p>
        </div>
        
            
                <div class="col-md-3">
                    <p class="p-heading"><a href="/programs/">Programs</a></p>
                    
                        
                            <p><a href="/programs/data-science-course/">Data Science</a></p>
                        
                            <p><a href="/programs/software-development/">Software Development Prep</a></p>
                        
                    
                </div>
             
        
            
        
            
        
            
        
            
        
        <div class="col-md-3">
            <!-- <p><a href=/careers>Careers</a></p> -->
            
                
            
                
                    <p><a href="/learning-model/">Learning Model</a></p>
                
            
                
                    <p><a href="/about-us/">About Us</a></p>
                
            
                
                    <p><a href="/outcomes/">Outcomes</a></p>
                
            
                
                    <p><a href="/events/">Events</a></p>
                
            
            <p><a href=/access-programs>Access Program</a></p>
            <p><a href=/corporate-training>Corporate Training</a></p>
        </div>
    </div>
</div>

    </div>
</footer>


<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script src="/static/vendor/jquery/jquery.slim.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>


<script src="/static/js/main.js"></script>



<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="/static/js/jquery-2.2.4.min.js"></script>
<script src="/static/cookielaw/js/cookielaw.js" type="text/javascript"></script>
</body>

</html>
